<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 인터페이스 경로와 동일해야하는거  -->
<mapper namespace="com.kdt.KDT_PJT.pjt_mng.mapper.PjtMngMapper">


<!--  1. 프로젝트 기본 CRUD   -->  

  <!-- 프로젝트 총 개수 (검색 조건 포함) -->
  <select id="countProjects" resultType="int">
    SELECT COUNT(*)
    FROM VIEW_PJT_BASC
    <where>
      <if test="keyword != null and keyword != ''">
        (PJT_NM LIKE CONCAT('%', #{keyword}, '%') 
         OR employeeId LIKE CONCAT('%', #{keyword}, '%'))
      </if>
    </where>
  </select>

  <!-- 프로젝트 수정 -->
  <update id="updatePjtProc" parameterType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
    UPDATE TB_PJT_BASC
    SET 
        PJT_NM = #{PJT_NM},
        employeeId = #{employeeId},
        PJT_BGNG_DT = #{PJT_BGNG_DT},
        PJT_END_DT = #{PJT_END_DT},
        PJT_STTS_CD = #{PJT_STTS_CD},
        content = #{content},
        ATCH_FILE_SN1 = #{ATCH_FILE_SN1,jdbcType=VARCHAR},
        ORG_FILE_NM1  = #{ORG_FILE_NM1,jdbcType=VARCHAR},
        ATCH_FILE_SN2 = #{ATCH_FILE_SN2,jdbcType=VARCHAR},
        ORG_FILE_NM2  = #{ORG_FILE_NM2,jdbcType=VARCHAR},
        ATCH_FILE_SN3 = #{ATCH_FILE_SN3,jdbcType=VARCHAR},
        ORG_FILE_NM3  = #{ORG_FILE_NM3,jdbcType=VARCHAR},

        LAST_MDFCN_DT = #{LAST_MDFCN_DT},
        TB_PJT_APR = #{TB_PJT_APR},
        LAST_MDFR_ID = #{LAST_MDFR_ID}
    WHERE PJT_SN = #{PJT_SN}
  </update>

  <!-- 프로젝트 최초 등록 -->
  <insert id="savePjtProc" parameterType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
    INSERT INTO TB_PJT_BASC (

      PJT_SN, PJT_NM, employeeId,TB_PJT_APR, PJT_BGNG_DT, PJT_END_DT,
      PJT_STTS_CD,  FRST_REG_DT,
      content, ATCH_FILE_SN1, ORG_FILE_NM1,
      ATCH_FILE_SN2, ORG_FILE_NM2,
      ATCH_FILE_SN3, ORG_FILE_NM3,
      gid, ver, company_id
    ) VALUES (
      #{PJT_SN},
      #{PJT_NM},
      #{employeeId},
       #{TB_PJT_APR},
      #{PJT_BGNG_DT},
      #{PJT_END_DT},
      '대기',

      #{FRST_REG_DT},
      #{content},
      #{ATCH_FILE_SN1},
      #{ORG_FILE_NM1},
      #{ATCH_FILE_SN2},
      #{ORG_FILE_NM2},
      #{ATCH_FILE_SN3},
      #{ORG_FILE_NM3},
      #{PJT_SN}, 1, #{companyId}
    )
  </insert>
  
  <!--  프로젝트 수정 시 새 버전 저장 -->
  <insert id="savePjtProcForVersion" parameterType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
    INSERT INTO TB_PJT_BASC (
      PJT_NM, employeeId,TB_PJT_APR, PJT_BGNG_DT, PJT_END_DT,
      PJT_STTS_CD,  FRST_REG_DT,
      content, ATCH_FILE_SN1, ORG_FILE_NM1,
      ATCH_FILE_SN2, ORG_FILE_NM2,
      ATCH_FILE_SN3, ORG_FILE_NM3,
      ver, gid,
      firstSign, secondSign, approvedBy, company_id
    ) VALUES (
      #{PJT_NM},
      #{employeeId},
       #{TB_PJT_APR},
      #{PJT_BGNG_DT},
      #{PJT_END_DT},
      #{PJT_STTS_CD},
      #{FRST_REG_DT},
      #{content},
      #{ATCH_FILE_SN1},
      #{ORG_FILE_NM1},
      #{ATCH_FILE_SN2},
      #{ORG_FILE_NM2},
      #{ATCH_FILE_SN3},
      #{ORG_FILE_NM3},
      #{ver},
      #{gid},
      #{firstSign},
      #{secondSign},
      #{approvedBy},
      #{companyId}
    )


  </insert>

  <!-- 프로젝트 상세 조회 -->
  <select id="getPjtDetail" parameterType="String" resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
    SELECT PJT_SN, PJT_NM, PJT_STTS_CD, employeeId, USE_YN,
           FRST_RGTR_ID, FRST_REG_DT, LAST_MDFR_ID, LAST_MDFCN_DT,
           ATCH_FILE_SN1, ORG_FILE_NM1, ATCH_FILE_SN2, ORG_FILE_NM2,
           ATCH_FILE_SN3, ORG_FILE_NM3, PJT_BGNG_DT, PJT_END_DT, 
           content, E.emp_nm AS emp_nm 
    FROM TB_PJT_BASC
    LEFT JOIN TB_EMPLOYEE E ON E.employee_id = P.employeeId
    WHERE PJT_SN = #{pjtSn}
  </select>
  

  <!-- 프로젝트 목록조회 (검색/페이징/필터/담당자 이름/직책 포함) -->
  <select id="selectProjectList" parameterType="map"
          resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
          /* com.kdt.pjt_pjt.mapper.pjt_mng.PjtMngMapper.selectProjectList*/
    SELECT B.PJT_SN,
    	  B.PJT_NM,
         B.PJT_STTS_CD,
          B.employeeId,
           B.FRST_REG_DT, B.LAST_MDFCN_DT,
           B.PJT_BGNG_DT, B.PJT_END_DT, B.TB_PJT_APR, B.ver
    FROM VIEW_PJT_BASC B
    WHERE (B.USE_YN IS NULL OR B.USE_YN = 'Y')
      <if test="companyId != null">
        AND B.company_id = #{companyId}
      </if>
      <if test="keyword != null and keyword != ''">
        AND (B.PJT_NM LIKE CONCAT('%', #{keyword}, '%')
             OR B.employeeId LIKE CONCAT('%', #{keyword}, '%'))
      </if>
      <if test="myOnly == 1">
        AND B.employeeId = #{employeeId}
      </if>
      <if test="approvalOnly == 1">
        AND B.TB_PJT_APR = #{employeeId}
      </if>
    ORDER BY B.LAST_MDFCN_DT DESC, B.PJT_SN DESC
    LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <!-- 프로젝트 목록 총 건수 (검색/필터 포함) -->
  <select id="selectProjectListCount" parameterType="map" resultType="int">
    SELECT COUNT(1)
    FROM VIEW_PJT_BASC B
    WHERE (B.USE_YN IS NULL OR B.USE_YN = 'Y')
      <if test="companyId != null">
        AND B.company_id = #{companyId}
      </if>
      <if test="keyword != null and keyword != ''">
        AND (B.PJT_NM LIKE CONCAT('%', #{keyword}, '%')
             OR B.employeeId LIKE CONCAT('%', #{keyword}, '%'))
      </if>
      <if test="myOnly == 1">
        AND B.employeeId = #{employeeId}
      </if>
      <if test="approvalOnly == 1">
        AND B.TB_PJT_APR = #{employeeId}
      </if>
  </select>

  <!--      2. 대시보드 카드 숫자    -->

  <!-- 내 참여 프로젝트 수 -->
  <select id="countMyProjects" parameterType="string" resultType="int">
  /* com.kdt.pjt_pjt.mapper.pjt_mng.PjtMngMapper  */
    SELECT COUNT(*)
    FROM VIEW_PJT_BASC
    WHERE (USE_YN IS NULL OR USE_YN = 'Y')
      AND employeeId = #{employeeId}
  </select>

  <!-- 내 결재 프로젝트 수 -->
  <select id="countMyPendingApprovals" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM VIEW_PJT_BASC
    WHERE (USE_YN IS NULL OR USE_YN = 'Y')
      AND TB_PJT_APR = #{employeeId}
  </select>
 

  <!-- 작성자명 드롭다운 -->
  <select id="selectApproverCandidates" resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
    SELECT DISTINCT employeeid AS employeeid
    FROM VIEW_PJT_BASC
    WHERE USE_YN = 'Y' AND employeeid IS NOT NULL
    ORDER BY employeeid
  </select>

  <!-- 프로젝트 결재자 변경 -->
  <update id="updateApprover" parameterType="map">
    UPDATE TB_PJT_BASC
       SET TB_PJT_APR = #{TB_PJT_APR},
           LAST_MDFCN_DT = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
     WHERE PJT_SN = #{PJT_SN}
  </update>
  
  
<select id="searchProjectMngList" 
        parameterType="map" 
        resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
     /* searchProjectMngList */
     <!-- 게시글 리스트 최신순으로 정렬 -->   
  select 
   t2.PJT_SN
 , t2.PJT_NM
 , t2.PJT_STTS_CD
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.employeeId ) AS employeeId
  , ( SELECT position from employee where 1=1 and employeeId = t2.employeeId ) AS position
 , t2.USE_YN
 , t2.FRST_REG_DT
 , t2.LAST_MDFR_ID
 , t2.PJT_BGNG_DT
 , t2.PJT_END_DT
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS TB_PJT_APR 
  , ( SELECT position from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS position_APR 
 , t2.TB_PJT_BASCcol
 , t2.docType
 , t2.content
 , t2.ATCH_FILE_SN1
 , t2.ORG_FILE_NM1
 , t2.ATCH_FILE_SN2
 , t2.ATCH_FILE_SN3
 , t2.ORG_FILE_NM2
 , t2.ORG_FILE_NM3
 , t2.TB_PJT_BASCcol1
 , t2.gid
 , t2.ver
 , t2.firstSign
 , t2.secondSign
 , t2.approvedBy
 
  
  from TB_PJT_BASC t2,
		(select gid, max(ver) as max_ver from TB_PJT_BASC
		group by gid) t1
	where
	t2.gid = t1.gid and t2.ver = t1.max_ver  and  (t2.USE_YN IS NULL OR t2.USE_YN = 'Y')
    <if test="companyId != null">
      AND t2.company_id = #{companyId}
    </if>
    <if test="keyword != null and keyword != ''">
      AND (t2.PJT_NM LIKE CONCAT('%', #{keyword}, '%')
           OR t2.employeeId = #{keyword})
    </if>
    ORDER BY  t2.FRST_REG_DT DESC
</select>


<select id="searchProjectMngMyApprovalList" 
        parameterType="map" 
        resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
     
     <!-- 게시글 리스트 최신순으로 정렬 -->   
  SELECT 
     t2.PJT_SN
 , t2.PJT_NM
 , t2.PJT_STTS_CD
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.employeeId ) AS employeeId
 , ( SELECT position from employee where 1=1 and employeeId = t2.employeeId ) AS position
 , t2.USE_YN
 , t2.FRST_REG_DT
 , t2.LAST_MDFR_ID
 , t2.PJT_BGNG_DT
 , t2.PJT_END_DT
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS TB_PJT_APR
 , ( SELECT position from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS position_APR  
 , t2.TB_PJT_BASCcol
 , t2.docType
 , t2.content
 , t2.ATCH_FILE_SN1
 , t2.ORG_FILE_NM1
 , t2.ATCH_FILE_SN2
 , t2.ATCH_FILE_SN3
 , t2.ORG_FILE_NM2
 , t2.ORG_FILE_NM3
 , t2.TB_PJT_BASCcol1
 , t2.gid
 , t2.ver
 , t2.firstSign
 , t2.secondSign
 , t2.approvedBy
  FROM VIEW_PJT_BASC t2
  WHERE TB_PJT_APR = #{employeeId}
    <if test="companyId != null">
      AND t2.company_id = #{companyId}
    </if>
    <if test="keyword != null and keyword != ''">
      AND (PJT_NM LIKE CONCAT('%', #{keyword}, '%') )
    </if>
    ORDER BY FRST_REG_DT DESC
</select>




<select id="getProjectListOrderByWriter" 
        parameterType="String" 
        resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
SELECT 
     t2.PJT_SN
 , t2.PJT_NM
 , t2.PJT_STTS_CD
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.employeeId ) AS employeeId
 , ( SELECT position from employee where 1=1 and employeeId = t2.employeeId ) AS position
 , t2.USE_YN
 , t2.FRST_REG_DT
 , t2.LAST_MDFR_ID
 , t2.PJT_BGNG_DT
 , t2.PJT_END_DT
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS TB_PJT_APR
 , ( SELECT position from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS position_APR  
 , t2.TB_PJT_BASCcol
 , t2.docType
 , t2.content
 , t2.ATCH_FILE_SN1
 , t2.ORG_FILE_NM1
 , t2.ATCH_FILE_SN2
 , t2.ATCH_FILE_SN3
 , t2.ORG_FILE_NM2
 , t2.ORG_FILE_NM3
 , t2.TB_PJT_BASCcol1
 , t2.gid
 , t2.ver
 , t2.firstSign
 , t2.secondSign
 , t2.approvedBy
FROM VIEW_PJT_BASC t2

<if test="keyword != null and keyword != ''">
 WHERE t2.employeeId IN (
      SELECT e.employeeId
      FROM employee e
      WHERE e.emp_nm LIKE CONCAT('%', #{keyword}, '%')
  )
</if>
ORDER BY t2.LAST_MDFCN_DT DESC
  
</select>







<select id="getProjectListOrderByProject" 
        parameterType="map" 
        resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
        
SELECT 
     t2.PJT_SN
 , t2.PJT_NM
 , t2.PJT_STTS_CD
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.employeeId ) AS employeeId
 , ( SELECT position from employee where 1=1 and employeeId = t2.employeeId ) AS position
 , t2.USE_YN
 , t2.FRST_REG_DT
 , t2.LAST_MDFR_ID
 , t2.PJT_BGNG_DT
 , t2.PJT_END_DT
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS TB_PJT_APR
 , ( SELECT position from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS position_APR  
 , t2.TB_PJT_BASCcol
 , t2.docType
 , t2.content
 , t2.ATCH_FILE_SN1
 , t2.ORG_FILE_NM1
 , t2.ATCH_FILE_SN2
 , t2.ATCH_FILE_SN3
 , t2.ORG_FILE_NM2
 , t2.ORG_FILE_NM3
 , t2.TB_PJT_BASCcol1
 , t2.gid
 , t2.ver
 , t2.firstSign
 , t2.secondSign
 , t2.approvedBy 
  FROM VIEW_PJT_BASC t2
  WHERE (USE_YN IS NULL OR USE_YN = 'Y')
    <if test="keyword != null and keyword != ''">
      AND (PJT_NM LIKE CONCAT('%', #{keyword}, '%'))          
    </if>
  ORDER BY LAST_MDFCN_DT DESC
</select>


<select id="getProjectListOrderByStatus" 
        parameterType="map" 
        resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
        
  SELECT 
      t2.PJT_SN
 , t2.PJT_NM
 , t2.PJT_STTS_CD
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.employeeId ) AS employeeId
 , ( SELECT position from employee where 1=1 and employeeId = t2.employeeId ) AS position
 , t2.USE_YN
 , t2.FRST_REG_DT
 , t2.LAST_MDFR_ID
 , t2.PJT_BGNG_DT
 , t2.PJT_END_DT
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS TB_PJT_APR
 , ( SELECT position from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS position_APR  
 , t2.TB_PJT_BASCcol
 , t2.docType
 , t2.content
 , t2.ATCH_FILE_SN1
 , t2.ORG_FILE_NM1
 , t2.ATCH_FILE_SN2
 , t2.ATCH_FILE_SN3
 , t2.ORG_FILE_NM2
 , t2.ORG_FILE_NM3
 , t2.TB_PJT_BASCcol1
 , t2.gid
 , t2.ver
 , t2.firstSign
 , t2.secondSign
 , t2.approvedBy
  FROM  VIEW_PJT_BASC t2
  WHERE (USE_YN IS NULL OR USE_YN = 'Y')
    <if test="keyword != null and keyword != ''">
      AND (PJT_STTS_CD LIKE CONCAT('%', #{keyword}, '%') )
    </if>
  ORDER BY LAST_MDFCN_DT DESC
</select>

<!-- 진행상태 필터에서 검색 결과의 총 개수 계산 -->
<select id="countStatus" parameterType="String" resultType="int">
  SELECT COUNT(*)
  FROM VIEW_PJT_BASC
  WHERE (USE_YN IS NULL OR USE_YN = 'Y')
    <if test="keyword != null and keyword != ''">
      AND PJT_STTS_CD LIKE CONCAT('%', #{keyword}, '%')
    </if>
</select>



<select id="getProjectListMyProject" 
        parameterType="map" 
        resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
        
  SELECT    t2.PJT_SN
 , t2.PJT_NM
 , t2.PJT_STTS_CD
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.employeeId ) AS employeeId
 , ( SELECT position from employee where 1=1 and employeeId = t2.employeeId ) AS position
 , t2.USE_YN
 , t2.FRST_REG_DT
 , t2.LAST_MDFR_ID
 , t2.PJT_BGNG_DT
 , t2.PJT_END_DT
 , ( SELECT emp_nm from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS TB_PJT_APR
 , ( SELECT position from employee where 1=1 and employeeId = t2.TB_PJT_APR ) AS position_APR 
 , t2.TB_PJT_BASCcol
 , t2.docType
 , t2.content
 , t2.ATCH_FILE_SN1
 , t2.ORG_FILE_NM1
 , t2.ATCH_FILE_SN2
 , t2.ATCH_FILE_SN3
 , t2.ORG_FILE_NM2
 , t2.ORG_FILE_NM3
 , t2.TB_PJT_BASCcol1
 , t2.gid
 , t2.ver
 , t2.firstSign
 , t2.secondSign
 , t2.approvedBy
  FROM VIEW_PJT_BASC t2
  WHERE (USE_YN IS NULL OR USE_YN = 'Y')
    <if test="keyword != null and keyword != ''">
      AND (employeeId LIKE CONCAT('%', #{keyword}, '%') )
    </if>
  ORDER BY LAST_MDFCN_DT DESC
  
</select>


<!-- 결재자 -->
<select id="getProjectListMyApprovalTodoCount" 
        parameterType="map" 
        resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
        
  SELECT *
  FROM VIEW_PJT_BASC
  WHERE (USE_YN IS NULL OR USE_YN = 'Y')
    <if test="keyword != null and keyword != ''">
      AND (TB_PJT_APR LIKE CONCAT('%', #{keyword}, '%') )
    </if>
  ORDER BY LAST_MDFCN_DT DESC  
</select>


 <!-- 파일의 버전관리 -->
 <select id="findLatestVerByPjtSn" parameterType="long" resultType="int">
    SELECT COALESCE(MAX(ver), 0)
    FROM TB_PJT_BASC
    WHERE pjt_sn = #{pjtSn}
</select>

<!-- 새 버전 추가 -->
<insert id="insertNewVersion" parameterType="map">
    INSERT INTO TB_PJT_BASC
    (pjt_sn, ver, atch_file_sn, change_summary, content_txt, frst_rgtr_id, frst_reg_dt)
    VALUES
    (#{pjtSn}, #{ver}, #{atchFileSn}, #{changeSummary}, #{contentTxt}, #{rgtrId}, NOW())
</insert>

<!-- EmployeeMapper.xml -->
<select id="selectEmpNameById" parameterType="string" resultType="string">
  SELECT emp_nm
  FROM employee
  WHERE employeeId = #{employeeId}   <!-- 실제 컬럼명에 맞춰 employeeId/EMP_SEQ 등으로 수정 -->
    AND use_yn = 'Y'
  LIMIT 1
</select>



<select id="maxPjtSn"  resultType="int">
	select max(PJT_SN) from TB_PJT_BASC
</select>


</mapper>



