<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- CSS 불러오기 -->
    <link rel="stylesheet" href="/css/common.css">
    
    

</head>
<body>

<button type="submit" class="edit-btn">수정</button>
<button type="submit" class="save-btn">저장</button>
<button type="submit" class="approval-btn">승인</button>
<button type="submit" class="reject-btn">반려</button>
<button type="submit" class="search-btn">검색</button>

<button class="back-btn" onclick="history.back()">뒤로가기</button>


</body>
</html>