<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- 버튼 스타링 -->
    <link rel="stylesheet" href="/css/common.css">
    <!-- 공통 스타일 -->
    <link rel="stylesheet" href="/css/commonStyle.css">
    
	<!-- 일정관리 스타일시트 -->
    <link rel="stylesheet" href="/css/schedule.css">
</head>
<body>

<div class="wrapper">
    <th:block th:replace="~{@{/layout/header}}"></th:block>
    <th:block th:replace="@{${mainUrl}}" />
    <th:block th:replace="~{@{/layout/footer}}"></th:block>
 </div>
 
<!--     <div th:replace="~{${mainUrl} :: content}"></div> -->
 
</body>
</html>