<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    
    <!-- 폰트어썸 아이콘 스타일시트 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!-- 공통 스타일시트 -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/commonStyle.css">
    
    <!-- 근태관리 스타일시트 -->
    <link rel="stylesheet" href="/css/attend.css">

</head>
<style>
*{
	margin:0;
	padding:0;
}
.wrapper{
	width:1200px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255); /*영역 확인용*/
}
</style>
<body>

<div class="wrapper">

	<th:block th:replace="@{/layout/header}"/>
	<th:block th:replace="@{${navUrl}}" />
	<th:block th:replace="@{${mainUrl}}" />	
	<th:block th:replace="@{/layout/footer}"/>
 </div>
</body>
</html>