my:
  datasource:
    port: '3306'
    dbname: your_db_name
    host: localhost

server:
  address: 0.0.0.0
  port: '8080'
  servlet:
    context-path: ''

pagehelper:
  helperDialect: mysql
  params: count=countSql
  reasonable: 'true'
  supportMethodsArguments: 'true'

logging:
  level:
    org:
      mybatis: 'INFO'
      apache:
        ibatis: 'INFO'
    java:
      sql: 'INFO'
    p6spy: INFO
    jdbc:
      sqlonly: 'INFO'
      sqltiming: 'INFO'

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 'your_db_password'
    username: your_db_user
    url: jdbc:mysql://${my.datasource.host}:${my.datasource.port}/${my.datasource.dbname}?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&connectTimeout=3000&socketTimeout=3000
    hikari:
      connection-timeout: 3000
      initialization-fail-timeout: -1

  thymeleaf:
    prefix: /views/
    suffix: .html
    encoding: UTF-8
    mode: HTML

  servlet:
    multipart:
      enabled: 'true'
      max-file-size: 10MB
      max-request-size: 10MB

  application:
    name: kdtpjt

  jackson:
    default-property-inclusion: NON_NULL

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.kdt.KDT_PJT.cmmn.map
  configuration:
    map-underscore-to-camel-case: 'true'

file:
  storage:
    root: upload/project

app:
  upload-dir: C:/upload/
