:global {
  .fc {
    .fc-toolbar {
      .fc-toolbar-chunk {
        .fc-button {
          color: gray;
          background-color: transparent;
          border-color: gray;

          .fc-icon {
            color: gray;
          }

          &.fc-today-button {
            opacity: 1;
          }

          &.fc-button-active {
          }
        }
      }
    }
  }
}
