<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt.KDT_PJT.employee.mapper.EmployeeMapper">

    <!-- 사원 목록 -->
<select id="getUserList" parameterType="string" resultType="CmmnMap">
    <!--
    QueryId : com.kdt.KDT_PJT.employee.mapper.EmployeeMapper.getUserList
    설명 : 직원 목록 전체조회
    -->
    SELECT 
        emp_seq,
        employeeId,
        password,
        role,
        active,
        emp_nm
    FROM employee
    WHERE 1=1
 	<if test="keyword != null and keyword != ''">
        AND 
          EMP_NM LIKE CONCAT('%', #{keyword}, '%')
        
      </if>
    ORDER BY emp_seq ASC
</select>


    <!-- 활성/비활성 토글 -->
    <update id="toggleActive" parameterType="CmmnMap">
        UPDATE employee
        SET active = CASE WHEN active = 1 THEN 0 ELSE 1 END
        WHERE emp_seq = #{emp_seq}
    </update>

    <!-- 사원 등록 (MySQL 1093 에러 방지) -->
    <insert id="insertEmployee" parameterType="CmmnMap">
        INSERT INTO employee (
            emp_seq, employeeId, password, active, emp_nm
        ) VALUES (
            (SELECT seq FROM (
                SELECT COALESCE(MAX(emp_seq),0) + 1 AS seq
                FROM employee
            ) AS t),
            #{employeeId},
            #{password},
            1,
            #{emp_nm}
        )
    </insert>
    
    <select id="getEmployeeBySeq" parameterType="int" resultType="CmmnMap">
    SELECT * FROM employee WHERE emp_seq = #{empSeq}
	</select>
    
    <select id="getDetail" parameterType="employeeDto" resultType="employeeDto">
        SELECT * FROM employee where emp_seq= #{empSeq}
    </select>
    
    
    <update id="update" parameterType="employeeDto">
    UPDATE employee
    SET 
        employeeId = #{employeeId},
        password = #{password},
        emp_nm = #{empNm},
        active = #{active},
        phone = #{phone},
        birth = #{birth},
        deptName = #{deptName},
        position = #{position},
        role = #{role},
        hireDate = #{hireDate},
        resignDate = #{resignDate}
    WHERE emp_seq = #{empSeq}
	</update>
	
	<select id="getEmployeeDetail" parameterType="employeeDto" resultType="employeeDto">
	 SELECT * FROM employee where emp_seq= #{empSeq}
	</select>
    

</mapper>

