<!-- 일정 상세보기 -->
<div class="sche-detail-container">
    <h1 class="detail-title">일정 상세보기</h1>
    <table class="sche-table-detail">
        <tr>
            <th>일정명</th>
            <td >
                <span th:text="${scd.title}" ></span>
            </td>
        </tr>
        <tr>
            <th>기간</th>
            <td>
                <span th:text="${scd.startDateStr}"></span>
                <span th:text="${scd.startTimeStr}"></span>
                ~
                <span th:text="${scd.endDateStr}"></span>
                <span th:text="${scd.endTimeStr}"></span>
                <span th:if="${scd.cate == '종일'}">(종일)</span>
            </td>
        </tr>
        <tr>
            <th>일정 옵션</th>
            <td>
                <span th:if="${scd.repeatCheck == 0}">반복 없음</span>
                <span th:if="${scd.repeatCheck == 1}">매일 반복</span>
                <span th:if="${scd.repeatCheck == 2}">매주 반복</span>
                <span th:if="${scd.repeatCheck == 3}">매달 반복</span>

                <span th:if="${scd.holiday != null}"> | 휴무일</span>
                <span th:if="${scd.alarm != null}"> | 알림</span>
            </td>
        </tr>
        <tr>
            <th>내용</th>
            <td>
                <p th:text="${scd.content}"></p>
            </td>
        </tr>
    </table>

 
        <a href="/schedule" class="sche-back-btn">목록으로</a>
    
  <!--      <a href="@{/schedule/backToList}"></a>  --> 
        <!-- employId가 일치하거나 권한자만 수정/삭제 가능 -->
        <a th:if="${session.loginUser.employeeId==scd.employeeId  || session.loginUser.role == '일정' or session.loginUser.role == '대표'}"
           th:href="@{|/schedule/modify?scheduleId=${scd.scheduleId}|}" class="sche-save-btn">수정</a>
        <a th:if="${session.loginUser.employeeId==scd.employeeId  || session.loginUser.role == '일정' or session.loginUser.role == '대표'}"
           th:href="@{|/schedule/delete?scheduleId=${scd.scheduleId}|}" class="sche-delete-btn">삭제</a>

</div>


