<!-- 일정 상세보기 -->
<div>
<h1>일정 상세보기</h1>
	<table border="">
		<tr >
			<td>
				일정명
			</td>
			<td colspan="4">
				<span th:text="${scd.title}"></span>
			</td>
		</tr>
		<tr >
			<td>기간</td>
			<td colspan="4">

				<span th:text="${scd.startDateStr}"></span>
				<span th:text="${scd.startTimeStr}"></span>
				
				~ 

				<span th:text="${scd.endDateStr}"></span>
				<span th:text="${scd.endTimeStr}"></span>
				
			</td>
		</tr>
		<tr>
			<td>일정 종류</td>
			<td colspan="4">
				<span th:text="${scd.cate}"></span>

				
				<span th:text="${scd.repeatCheck}"></span>
				<span th:text="${scd.holiday}"></span>
       			
			</td>
		</tr>
		<tr>
			<td>알림</td>
			<td colspan="4">
				<span th:text="${scd.alarm}"></span>
			</td>
		</tr>
		<tr>
			<td>내용</td>
			<td colspan="4">
				<p th:text="${scd.content}"></p>
			</td>
		</tr>

	</table>
	

<a href="/schedule" class="back-btn">목록으로</a>
				<!-- employId가 일치하거나 권한자만 수정,삭제 버튼 보이도록 -->								
<a th:if="${session.loginUser.employeeId==scd.employeeId  || session.loginUser.role == '일정' or session.loginUser.role == '대표'}" th:href="@{|/schedule/modify?scheduleId=${scd.scheduleId}|}" class="edit-btn">수정</a>
<a th:if="${session.loginUser.employeeId==scd.employeeId  || session.loginUser.role == '일정' or session.loginUser.role == '대표'}" th:href="@{|/schedule/delete?scheduleId=${scd.scheduleId}|}" class="reject-btn">삭제</a>																

</div>
