<script src="/js/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	const arr = /*[[ ${scheduleList}]]*/;
	const dto = /*[[ ${scheduleDTO}]]*/
	console.log(arr)
	//console.log(dto)
	
	$(function(){
           console.log("document ready!");    //축약형태로 사용 가능
           

			function dayScheduleGet(today){
				
				var res = []
				for(const vv of arr){
					if(vv.startLocalDate <= today && vv.endLocalDate >= today){
						res.push(vv)
					}
				}
				
				return res
			}
           
           function dateToStr(ddd){  // yyyy-MM-dd
				var mm = ddd.getMonth()+1
				if(mm<10){
					mm = '0'+mm
				}
				var dd = ddd.getDate()
				if(dd<10){
					dd = '0'+dd
				}
				return ddd.getYear()+1900+"-"+mm+"-"+dd
			}
           
           
          
           
           
           function monthDiaryView(){

        	   $("#diary_title").html(currDate.getYear()+1900+'년 '+(currDate.getMonth()+1) + '월 일정')
        	   currDate.setDate(1)

               var first = currDate.getDay()
               currDate = new Date(currDate.getFullYear(),currDate.getMonth()+1,0)

        		var last = currDate.getDate()
        	   
               $("#diary_body").empty();
        	   
        	   
               var trLine = $("<tr></tr>")
               $("#diary_body").append(trLine)

               // 첫 주 공백
               for(var i = 1; i <= first;i++){
            	   trLine.append($("<td></td>"));
               }
		       
               for(var i = 1; i <= last;i++){

            	   currDate.setDate(i);
            	   
    				var td= $("<td></td>")
    				var ttt = i;
    				
    				 console.log(dateToStr(currDate))
    				for(var vv of dayScheduleGet(dateToStr(currDate))){
	
						var clickBox = "<a href='/schedule/detail?scheduleId="+vv.scheduleId+"'>"+vv.title+"</a>"

						
						ttt += "<br/>"
						ttt +=clickBox
						
					}
    				 
    				td.html(ttt)
    				trLine.append(td)
    				
    				
    				if(currDate.getDay()==6){  // 토요일
    					trLine = $("<tr></tr>")
    			        $("#diary_body").append(trLine);
    				}
    			}
			}
           
           var currDate = new Date();
           monthDiaryView();
           $("#prevMonth").click(function(){
   	   		currDate.setDate(1)
				currDate.setMonth(currDate.getMonth()-1)
				monthDiaryView();
			})
           
           $("#nextMonth").click(function(){
        	   		currDate.setDate(1)
					currDate.setMonth(currDate.getMonth()+1)
					monthDiaryView();
			})
           
	})
</script>



<h3 id="diary_title"></h3>

<div>
    <button id="prevMonth">이전달</button>
    <button id="nextMonth">다음달</button>
</div>



<table border="">
    <thead>
        <tr>
            <th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th>
        </tr>
    </thead>
    <tbody id="diary_body"></tbody>
</table>



<br />

<!-- 권한자만 등록 버튼 보이도록 -->
<a th:if="${session.loginUser.role == null}" th:href="@{/schedule/insert}">일정 등록</a>

