<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>★전자 결재 뷰어</title>
    
</head>
<body>

	<h1>★전자 결재 뷰어</h1>

	<div style="display: flex;">
	
		<!-- 작성자, 부서, 기안일, 문서번호 영역 -->
		<table border="">
			<tr>
				<td>작성자</td>
				<td th:text="${viewData == null ? '-' : viewData.writer}"></td>
			</tr>
			<tr>
				<td>부서</td>
				<td th:text="${viewData == null ? '-' : viewData.department}"></td>
			</tr>
			<tr>
				<td>기안일</td>
				<td th:text="${viewData == null ? '-' : #dates.format(viewData.createdAt, 'yyyy/M/d hh:mm:ss')}"></td>
			</tr>
			<tr>
				<td>문서번호</td>
				<td th:text="${viewData == null ? '-' : viewData.docId}"></td>
			</tr>
	  </table>
	
		<!-- 결재선 영역 -->
		<div style="display: flex; gap: 10px;">
			<button style="height: 100px; width: 100px">상신자</button>
			<button style="height: 100px; width: 100px">결재자</button>
			<button style="height: 100px; width: 100px">관리자</button>
		</div>
	</div>
	
	<!-- 제목 영역 -->
	<div style="margin-top: 20px;">
		<table border="">
			<tr>
				<td>결재 종류</td>
				<td th:text="${viewData == null ? '-' : viewData.docType}"></td>
			</tr>
			<tr>
				<td>제목</td>
				<td th:text="${viewData == null ? '-' : viewData.title}"></td>
			</tr>
		</table>
	</div>

	<!-- 뷰어 영역 : innerHTML로 렌더링 예정 -->
	<div style="border:1px solid; margin-top: 20px; background-color: aqua;" th:text="${viewData == null ? '-' : viewData.content}">
	</div>
	
	<!-- 수정, 삭제 버튼 영역 -->
	<th:block th:if="${viewData != null}">
		<a>
			<button>수정</button>
		</a>
	</th:block>
	
	<th:block th:if="${viewData != null}">
		<a th:href="@{/approval/delete(docId=${viewData == null ? '-' : viewData.docId})}">
			<button>삭제</button>
		</a>
	</th:block>

</body>
</html>
