<!-- 연차 관리 관리자용 -->
<div>
	<h1>근태관리</h1>
	<form action="" method="post">
	    <table>
		    <thead>
		        <tr>
		            <th>이름</th>
		            <th>부서</th>
					<th>직위</th>
		            <th>총 연차</th>
		            <th>사용 연차</th>
		            <th>잔여 연차</th>
		        </tr>
		     </thead>
		     <tbody>
		        <tr th:each="ldm : ${listMngData}">
		            <td><a th:href="@{/attend/leaveListMng/leaveMngDetail(employeeId=${ldm.employeeId}, empNm=${ldm.empNm})}"
					       th:text="${ldm.empNm}">
					    </a>
		            </td>
		            <td th:text="${ldm.deptName}"></td>
				    <td th:text="${ldm.position}"></td>
		            <td th:text="${ldm.total}"></td>
		            <td th:text="${ldm.used}"></td>
		            <td th:text="${ldm.getRest}"></td>
		        </tr>
	        </tbody>
	    </table>
	</form>
</div>


<!-- 페이징 UI 영역 -->
<div class="container mt-4 text-center" th:if="${page.pages > 0}">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

      <!-- 이전 페이지 -->
      <li class="page-item" th:classappend="${!page.hasPreviousPage} ? ' disabled'">
        <a class="page-link"
           th:href="@{/attend/leaveListMng(
              pageNum=${page.hasPreviousPage} ? ${page.prePage} : ${page.pageNum},
              pageSize=${page.pageSize}
           )}"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <!-- 숫자 페이지 -->
      <li class="page-item"
          th:each="i : ${#numbers.sequence(page.navigateFirstPage, page.navigateLastPage)}"
          th:classappend="${i == page.pageNum} ? ' active'">
        <a class="page-link"
           th:href="@{/attend/leaveListMng(
             pageNum=${i},
             pageSize=${page.pageSize}
           )}"
           th:text="${i}">1</a>
      </li>

      <!-- 다음 페이지 -->
      <li class="page-item" th:classappend="${!page.hasNextPage} ? ' disabled'">
        <a class="page-link"
           th:href="@{/attend/leaveListMng(
              pageNum=${page.hasNextPage} ? ${page.nextPage} : ${page.pageNum},
              pageSize=${page.pageSize}
           )}"
           aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

    </ul>
  </nav>
</div>