@charset "UTF-8";

 .check-container {
    border: 5px solid black;
    height: 1100px;
    background-color: #ff0;
}

/*출퇴근 버튼 - 위치변경을 위해 등록버튼 변형*/
/* 등록 버튼 */
.attend-regist-btn:hover {
    background: #ff0000;
}
.attend-regist-btn {
    background: #ff9800;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}
/* 출퇴근 달력 영역 호버 제외 */
tbody tr:hover:not(.no-hover tr) {
    background: initial; /* 또는 background-color: unset; */
}



/**************************************/
/*fullcalender 스타일 적용 - 출퇴근 기록 달력*/
#calendar {
  width: 100% !important;  /* 캘린더를 부모 기준 100%로 */
  max-width: 100%;         /* 혹시 모를 제한 해제 */
  background: blue;
  height: 1000px;
}

fc-thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
    background: green;
}
.fc-daygrid-day {
    height: 120px; /*달력 셀 높이 지정*/
    padding: 5px;
    margin: 0px;
    background: red;
}

.fc-event-title {
	background: yellow;
    text-align: right;
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: bottom;     /* 세로 중앙 */
    height: 100%;            /* 셀 높이 채우기 */
}