@charset "UTF-8";

/* 상단 네이게이션바 */
.topbar {
    width: 100%;
    display: flex;
    align-items: center;
    background: #3949ab;
    padding: 0 36px 0 24px;
    box-sizing: border-box;
    height: 60px;
}
.topbar .logo {
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    margin-right: 30px;
    letter-spacing: 1px;
}
.topbar .menu {
    display: flex;
    flex: 1;
    gap: 11px;
}
.topbar .menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 13px;
    line-height: 60px;
    font-size: 1em;
    transition: color 0.2s, background 0.2s;
    border-bottom: 3px solid transparent;
}
.topbar .menu a.active, .topbar .menu a:hover {
    color: #ffc107;
    background: #283593;
    border-bottom: 3px solid #ffc107;
    display: flex;
}
.menu .logout {
  margin-left: auto;
  color: #ffea00;
  display: flex;
}

.menu .help-icon {
  color: #888;
  margin-left: 8px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


