@charset "UTF-8";

.sche-container {
	
	width:1200px;
	border:1px solid black;
	position: relative;
	margin-top: 45px;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

table[id=diary_title] {
	margin: 0px;
	width: 100%;
	background: red;   
}
.no-hover:hover > td{
  background: initial;     
}

/*************달 이동 버튼**************/
/*달 이동 버튼*/
.search-btn:hover {
    background: #ff0000;
}

/* 연도와 달 표시*/
.month-nav{
	left: 0px;
	position:relative;
	float: left;

}
/*이전달 버튼*/
.month-btn1 {
    background:var(--search-btn);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	float: left;
    position:relative;
    
}
#month_title{
	position:relative;
	float: left;
	width: 150px;
	text-align: center;
}
/*다음달 버튼*/
.month-btn2 {
    background:var(--search-btn);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	float: left;
	position:relative;
   
}
/*************주 이동 버튼**************/
/* 주 표시*/
.week-nav{
	left: 50px;
	position:relative;
	float: left;

}
/*이전주 버튼*/
.week-btn1 {
    background:var(--search-btn);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	float: left;
	position:relative;
    
}
#week_title{
	position:relative;
	float: left;
	width: 70px;
	text-align: center;
}
/*다음주 버튼*/
.week-btn2 {
    background:var(--search-btn);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	float: left;
	position:relative;
   
}
/*************일 이동 버튼**************/
/*일 표시*/
.day-nav{
	left: 50px;
	position:relative;
	float: left;

}

/*전날 버튼*/
.day-btn1 {
    background:var(--search-btn);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	float: left;
	position:relative;
    
}
#day_title{
	position:relative;
	float: left;
	width: 70px;
	text-align: center;
}

/*다음날 버튼*/
.day-btn2 {
    background:var(--search-btn);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	float: left;
	position:relative;
   
}

/********달력 보기 방식 버튼*********/

/* 검색 버튼 변형*/
.view-select {
    background: 1px solid black;
}
.view-select button {
    background: var(--search-btn);
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left:10px;
    float: right;
}
.view-select button:hover {
    background: var(--search-btn);
}
/******** 달력(테이블) *************/
/*월 보기 간격*/
.mTH{
	width:170px;
}
/*주별보기*/
.wTH{
	width:160px;
}
/*일별보기*/
.dTH{
	width:800px;
}
/*일별보기 시간 간격*/
.dHH{
	width:100px;
}
.sche-table {
	
}
.sche-table-month {
	
}
.sche-table-week {
	
}
.sche-table-day {
	
}
.monthgrid-day {
	
    height: 100px; /*달력 셀 높이 지정*/

}

.sche-comm {
	font-size: 12px;

	color: white;
	text-align: center;
    display: flex;
    justify-content: center; /* 가로 중앙 */
    border-radius: 5px;
    text-decoration: none; 
    margin:0px;
}

.leave {
	
	background: green;
    
}
.normal-sche {
	
	background: #0080ff;
   
}
.holiday-sche {
	
	background: #ff0000;
                /* 셀 높이 채우기 */
}
.project-sche {
	
	background: #ff8000;
    
}

.rrgg{
    background: var(--regist-btn);
    color: #fff;
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
	position: absolute;
	width: 66px;
	right: 0px;
	bottom:0px;
}

