[[${attendDTO}]]
<!-- 출퇴근 시간 기록 달력 -->
<form method="get" th:action="@{/attend}">
    <input type="hidden" name="startDay" th:value="${prevMonthStartDay}"/>
    <input type="hidden" name="endDay" th:value="${prevMonthEndDay}"/>
    <button type="submit">◀ 이전달</button>

</form>
<form method="get" th:action="@{/attend}">
    <input type="hidden" name="startDay" th:value="${nextMonthStartDay}"/>
    <input type="hidden" name="endDay" th:value="${nextMonthEndDay}"/>
    <button type="submit">다음달 ▶</button>


</form>
 <form>   
<table border="" th:each="dto : ${mainData}">
	<tr>
		<td>날짜</td>
		<td th:text="${dto.workDate}"></td>
	</tr>
	<tr>
		<td>출근시간</td>
		<td th:text="${dto.checkInHourMinute}" />
	</tr>
	<tr>
		<td>퇴근시간</td>
		<td th:text="${dto.checkOutHourMinute}" />
	</tr>
</table>
</form>